<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<from action="#" th:action="@{/update-user}"th:object="${user}" method="post">
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <lable for="firstName">First name</lable>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First name">
    <br/>
    <lable for="lastName">Last name</lable>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">
    <br/>
    <input type="submit" value="Update user">
</from>

</body>
</html>